@import "../../../../assets/sass/vars.scss";

.section-whom {

  &__items{
    position: relative;
    margin: 40px auto 0;
    overflow: hidden;
    height: 700px;

    @media (max-width: $lg) {
      margin: 30px auto 0;
      height: 600px;
    }

    @media (max-width: $sm) {
      flex-direction: column;
      height: 440px;
    }
  }

  &__item{
    position: absolute;
    right: 0;
    top: 50%;
    height: calc(100% + 2px);
    transform: translateY(-50%);
    width: 50%;
    background: $lightblue;
    color: $grey;
    overflow: hidden;
    
    
    @media (max-width: $sm) {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }

    &-grey{
      position: absolute;
      left: 0;
      right: initial;
      top: initial;
      height: 100%;
      transform: translate(0);
      background: $grey;
      color: #fff;

      & .section-whom__item_content{
        right: initial;
        left: 0;
      }
    }

    &_content{
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_head{
      padding: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 20px;
      height: 260px;

      @media (max-width: $xlg) {
        padding: 30px;
      }

      @media (max-width: $lg) {
        height: 230px;
      }

      @media (max-width: $sm) {
        padding: 20px;
        height: 160px;
      }
    }

    &_icon{
      
      @media (max-width: $sm) {
        width: 60px;
      }
    }

    &_title{
      font-weight: 500;
      max-width: 25em;
    }

    &_picture{
      position: relative;
      height: 440px;
      overflow: hidden;

      @media (max-width: $lg) {
        height: 370px;
      }

      @media (max-width: $sm) {
        height: 280px;
      }
    }

    &_img{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      min-height: 100%;
      min-width: 100%;
    }
  }

  &__dragger{
    position: absolute;
    z-index: 10;
    left: 0;
    top: 50%;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform: translate(0);
    cursor: pointer;
    background: $blue;

    &::before,
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 22px;
      display: inline-block;
    }

    &::before{
      left: 10px;
      background: url(../../../../assets/images/icon-arrow-left-white.svg) no-repeat center center;
      background-size: contain;
    }

    &::after{
      right: 10px;
      background: url(../../../../assets/images/icon-arrow-right-white.svg) no-repeat center center;
      background-size: contain;
    }
  }
}