@import "/src/assets/sass/vars.scss";

.literature{
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  &__title{
    font-size: 2em;
    font-weight: 500;
  }

  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: decimal;
    padding-left: 20px;

    @media (max-width: $xlg) {
      row-gap: 8px;
    }

    @media (max-width: $md) {
      row-gap: 6px;
    }

    &_item{
      font-size: .75em;
      line-height: 1.125;
      color: rgba(0, 2, 39, 0.4);
    }
  }
}