@import '/src/assets/sass/vars.scss';

.breadcrumbs{
  display: block;
  padding: 60px 0 20px;

  @media (max-width: $md) {
    padding: 30px 0px;
  }

  &__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: $sm) {
      row-gap: 10px;
    }
  }

  &__item{
    position: relative;
    padding-right: calc(20px + .5em);
    font-size: 1em;
    font-weight: 500;
    color: $blue;
  
    &::after{
      content: '/';
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: $grey;
    }

    &:last-child{
      &::after{
        display: none;
      }
    }

  }

  &__link{
    color: $grey;
  }
}