@import "/src/assets/sass/vars.scss";

.PopUp{
  position: fixed;
  z-index: 1010;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .4);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-active{
    display: flex;
  }

  &__content{
    position: relative;
    width: 100%;
    padding: 60px 70px;
    background: #fff;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    max-width: calc(100vw - 40px);

    @media (max-width: $sm) {
      padding: 40px 20px;
    }
  }

  &__close{
    position: absolute;
    top: 50px;
    right: 50px;
    display: block;
    width: 32px;
    height: 32px;
    background: url(/svg/icon-popup-close.svg) no-repeat center center;
    background-size: contain;

    @media (max-width: $sm) {
      top: 20px;
      right: 20px;
    }
  }
}