@import '/src/assets/sass/vars.scss';

.instruction{

  & p{
    margin-top: 20px;
    
    @media (max-width: $xlg) {
      margin-top: 18px;
    }
    
    @media (max-width: $md) {
      margin-top: 16px;
    }
    
    @media (max-width: $sm) {
      margin-top: 14px;
    }
  }

  & p + h2{
    margin-top: 70px;
    
    @media (max-width: $xlg) {
      margin-top: 60px;
    }
    
    @media (max-width: $md) {
      margin-top: 50px;
    }
    
    @media (max-width: $sm) {
      margin-top: 30px;
    }
  }

  & h2 + p{
    margin-top: 40px;
    
    @media (max-width: $xlg) {
      margin-top: 36px;
    }
    
    @media (max-width: $md) {
      margin-top: 30px;
    }
    
    @media (max-width: $sm) {
      margin-top: 20px;
    }
  }

  &__menu{

    &_row{
      display: flex;
      flex-direction: row;
    }
  }
}