@import '/src/assets/sass/vars.scss';

.section-2{

  &__content{
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @media (max-width: $lg) {
      row-gap: 50px;
    }

    @media (max-width: $md) {
      row-gap: 40px;
    }

    @media (max-width: $sm) {
      row-gap: 30px;
    }
  }

  &__items{
    display: flex;
    flex-direction: row;
    column-gap: 40px;

    @media (max-width: $sm) {
      flex-wrap: wrap;
    }

    @media (max-width: $xs) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 15px;
    width: 25%;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(86, 120, 160, 0.14);
    border-radius: 16px;
    
    @media (max-width: $sm) {
      width: 50%;
    }
    
    @media (max-width: $xs) {
      width: 100%;
      flex-direction: row;
      min-height: 80px;
      column-gap: 15px;
    }

    &_title{
      text-align: center;
      max-width: 264px;

      @media (max-width: $xs) {
        width: 100%;
        text-align: left;
        padding-left: 60px;
        max-width: 300px;
      }
    }

    &_picture{
      width: 100px;
      height: 100px;

      @media (max-width: $md) {
        width: 80px;
        height: 80px;
      }

      @media (max-width: $xs) {
        position: absolute;
        left: 15px;
        top: 50%;
        width: 50px;
        height: 50px;
        transform: translateY(-50%);
      }
    }

    &_img{
      width: 100%;
    }
  }
}