.videoBackground{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;

  &__video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}