.title{
  font-family: 'Source Sans Pro', sans-serif, Arial;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.27;
  color: $black;

  @media (max-width: $xlg) {
    font-size: 40px;
  }

  @media (max-width: $lg) {
    font-size: 36px;
  }

  &-blue{
    color: $blue;
  }

  &-white{
    color: #fff;
  }

  &-center{
    text-align: center;
  }
}